[submodule "vim/lib/vundle"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/gmarik/vundle.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
