[submodule "vim/lib/vundle"]
	path = vim/lib/vundle
	url = http://github.com/gmarik/vundle.git
[submodule "vim/lib/pathogen"]
	path = vim/lib/pathogen
	url = https://github.com/tpope/vim-pathogen.git
